@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 220, 220, 220;
  --background-end-rgb: 255, 255, 255;
  --background-whitelucentl-rgb: 255, 255, 255, 0.6;
  --background-whitelucent-rgb: 255, 255, 255, 0.8;
  --background-transparent-rgb: 255, 255, 255, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.maxb-height {
  height: 80vh;
}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 60px solid rgb(17 24 39);
}
.ideasHeight {
  height: fit-content;
  max-height: 95vh;
}
@media screen and (max-width:600px ) {
  .ideasHeight {
    height: 85vh;
  }
}
.myButtonstyle {
  border: 2px solid black;
}
.mytranslucentbg {
  background-color: rgb(var(--background-whitelucent-rgb));
}
.mytransparentbg {
  background-color: rgb(var(--background-whitelucentl-rgb));
}
.thumbsTemp {
  height: 450px;
}

.thumbsTemp .swiper-slide-thumb-active {
  color:rgb(234 88 12)
}

.mySwiper {
  height: 450px;
}

.transformWord {
  transform: translate(50%, 0);
}

.menuTransition {
  width: -webkit-fill-available;
  transition: left 1s;
}

.widthFit {
  width: -webkit-fill-available;
}

.menuMessageTransform {
  transform: translate3d(-8px, -6px, 0px);
}

.heddingBgsm {
  background: linear-gradient(1800deg, rgb(var(--background-whitelucent-rgb)) 30%,white);
}

.contentBgsm {
  background: linear-gradient(1800deg, white 20%, rgb(var(--background-whitelucent-rgb)) );
}

.transformImg {
  rotate: -40deg;
  transform: matrix3d(1, 0.4, 0, 0, 0, 1.25, 0, -0.002, 0, 0, 1, 0, 0, 0, 0, 1);
}

.ImgMinW {
  min-width: 320px;
  max-width: 450px;
  overflow: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
